<div class="jumbotron">
  <%= image_tag('logo-cortiva-massage-h.svg', alt: 'Cortiva Institute Logo') %>
</div>

<div class="row no_decoration">
  <% if current_user.instructor? %>
    <% current_user.instructor.courses.each do |c| %>
      <div class="col-sm-6 col-md-4">
          <div class="thumbnail class-thumbnail">
            <div class="caption">
              <%= link_to c do %>
                <div><%= image_tag('mas_massage_tables.png', class: 'img-responsive', alt: 'Massage Tables for MAS') %></div>
                <h3 class="text-center"><%= "#{c.course_id}  -  #{c.shift.humanize}" %></span></h3>
              <% end %>
            </div>
          </div>
      </div>
    <% end %>
  <% end %>

</div>
