// Place all the styles related to the Courses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.course-table {
  overflow-y: auto;
  border-radius: 5px;
  background-color: white;
  padding: 1em;

  & td {
    white-space: nowrap;
  }
}

.table-hover {
  & tbody tr {
    cursor: default;
  }

  & .bg-failed {
    background-color: #f28e98;
    &:hover {
      background-color: #f2747d;
    }
  }

  & .bg-absent {
    background-color: #ffefa5;
    &:hover {
      background-color: #ffe344;
    }
  }

  & .bg-retake {
    background-color: #ffcdfb;
    &:hover {
      background-color: #f57bf5;
    }
  }

  & .bg-markdown {
    background-color: #85a8e3;
    &:hover {
      background-color: #2b86e0;
    }
  }

  & .bg-pass {
    background-color: #a0d798;
    &:hover {
      background-color: #71cd5c;
    }
  }
}

.badge {
  &.badge_exam_status{
    padding: 0.5em;
  }
  &.badge_pass {
    background-color: #009700;
  }
  &.badge_markdown {
    background-color: royalblue;
  }
  &.badge_absent {
    background-color: white;
    border: 1px solid orange;
    color: black;
  }
  &.badge_failed {
    background-color: orangered;
  }
  &.badge_retake {
    background-color: darkorange;
  }
}


#missing_makeup_info_panel {
  cursor: default;
}

@media only screen and (max-width: 475px) {
  .fa {
    display: none !important;
  }

  .text-right {
    text-align: center !important;
  }

  h1 {
    font-size: 190% !important;
  }
}