// Place all the styles related to the Courses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.course-table {
  overflow-y: auto;
  border-radius: 5px;
  background-color: white;
  padding: 1em;

  & td {
    white-space: nowrap;
  }
}

.table-hover {
  & tbody tr {
    cursor: default;
  }

  & .bg-danger {
    background-color: #f28e98;
    &:hover {
      background-color: #f2747d;
    }
  }

  & .bg-warning {
    background-color: #ffefa5;
    &:hover {
      background-color: #ffe344;
    }
  }

  & .bg-primary {
    background-color: #6b88b7;
    &:hover {
      background-color: #337ab7;
    }
  }

  & .bg-success {
    background-color: #a0d798;
    &:hover {
      background-color: #71cd5c;
    }
  }
}

@media only screen and (max-width: 475px) {
  .fa {
    display: none !important;
  }

  .text-right {
    text-align: center !important;
  }

  h1 {
    font-size: 190% !important;
  }
}