// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.thumbnail.class-thumbnail {
  max-width: 300px;
  transition: .1s;
  position: relative;

  &:hover {
    z-index: 2;
    box-shadow: -5px 5px 15px 0 #555;
    transform: scale(1.2);
    & img {
      filter: none;
    }
  }

  & img {
    margin: 0 auto;
    transition-duration: 0.25s;
    filter: grayscale(1);
  }
}