var $course_exam_modal = $('#course_exam_modal');

$course_exam_modal.find('h4').html(
    "<i class='fa fa-file-text-o'></i>&emsp;Add/Edit Exam&emsp;&mdash;&emsp;<%= @course.course_id %> <span class=pull-right><button class='btn btn-small btn-primary' id=add_edit_exam_save>Save Changes</button></span>"
);

$('.modal-body').html('<%= j render partial: "/partials/exams/exam_table", locals: { course: @course, exams: @course.exams } %>')

$course_exam_modal.modal('show');

//file-text-o