<div class="container float-left" id="sidebar-wrapper">
  <div class="row">
    <div class="col-sm-12" id="sidebar_logo">
      <%= image_tag("logo-cortiva-massage-h.svg") %>
    </div>
  </div>
  <div class="row" id="roleSummary">
    <div class="col-sm-12">
      Summary Section.  I'm not sure what goes here,
      but it could be used as an overview for whoever is logged in.
    </div>
  </div>
  <form class="navbar-form navbar-left">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Search">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button">
            <span class="glyphicon glyphicon-search"></span>
          </button>
        </span>
    </div>
  </form>
  <div class="row">
    <div class="col-sm-12">
      Micro Menu, most likely won't be used and will be
      phased out on future revisions.  I decided to leave
      the placeholder here just in case.
    </div>
  </div>
</div>
